.events-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.events-container {
  margin: 1rem auto;
}

.title-icons-box {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
}

.list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  i {
    font-size: 1.5rem;
    margin: 0 auto;
  }

}

.map-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;

  i {
    font-size: 1.5rem;
    margin: 0 auto;
  }
}

#add-event-button {
  z-index: 100;
  position: fixed;
  bottom: 60px;
  right: 15px;
  font-size: 35px;
  color: #ffffff;
  border-radius: 50%;
  min-width: 0;
  max-width: none;
  padding: 35px 35px;
}

.btn-red {
  width: 30px;
}
