.events-grid {
  display: grid;
  grid-template-columns: 1fr;
}

#add-event-button {
  position: fixed;
  bottom: 60px;
  right: 15px;
  font-size: 35px;
  color: #ffffff;
  border-radius: 50%;
  min-width: 0;
  max-width: none;
  padding: 35px 35px;
}

.btn-red {
  width: 30px;

}
