#create-form-title{
  padding: 0px;
}

.simple_form label {
  float: left;
  width: auto;
  text-align: left;
  margin: 10px 0px;
}

.simple_form input {
  margin: 0px;
}

.form_control {
  margin: 10px 10px 10px 10px;
}

.actions{
  align-items: right;

}
