// Specific CSS for your home-page
.welcome {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}

.section-title {
  display: flex;
}

.small-cards-list {
  display: flex;
  overflow-x: scroll;
  margin: 10px 0px;
}

.event-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 7px;
  width: 200px;
  height: 125px;
  margin: 0px;
  background-size: cover;
  background-position: center;
}

a.event-card {
  text-decoration: none;
  margin: 0px 5px;

}

// a.event-card {
//   overflow: hidden;
// }

.event-card > h3 {
  padding: 10px 15px;
  margin: 0px;
}
