.show-card-item {
  margin: 1.5rem auto;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 668px;
  display: grid;
  grid-template-rows: 1.6fr 0.1fr 0.2fr 0.4fr;
  border-radius: 15px;
}

.show-card-image {
  background-size: cover;
  background-position: center;

h3 {
  padding-left: 20px;
  padding-top: 10px
}
}

.show-card-detail {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  justify-content: flex-start;
  padding-top: 12px;
  align-items: center;

p {
  padding: 0px 15px;
}

span {
  color: #006D77;
  text-align: center;
  padding-bottom: 3%;
}
}

// .show-card-info{
//   display: grid;
//   grid-template-rows: 1fr 1fr 1fr 1fr;
//   justify-content: flex-start;
//   padding-bottom: 12px;
//   align-items: center;
// }


.show-card-info {
  padding-left: 20px;
  padding-right: 9px;
  background-color: $white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;

  p {
    margin: auto 0;
    padding-left: 10px;
  }

  i {
    font-size: 24px;
    padding-bottom: 6px;
  }

  span {
    color: black;
  }
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  padding-top: 2px;
}

.show-card-cost{
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  justify-content: flex-start;
  padding-top: 12px;
  align-items: center;
}

.show-card-participant{
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  justify-content: flex-start;
  padding-bottom: 12px;
  align-items: center;
}

.show-card-date{
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  justify-content: flex-start;
  padding-bottom: 12px;
  align-items: center;
}

.show-card-location{
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  justify-content: flex-start;
  padding-bottom: 12px;
  align-items: center;
}

.line-1 {
  height: 1px;
  background: #57babc;
  width:293px;
  margin: 0 auto;
}

.show-card-profile {
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 1.5rem auto;
  padding-top: 2px;
  // overflow: scroll;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;

span {
  color: #57babc;
  font-size: 22px;
}
}

.show-card-profile-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.show-card-profile-section {
  padding: 0 20px;
  margin: 10px;

}


.show-avatar {
  margin: 1.5rem auto;
  width: 40px;
  border-radius: 50%;
}

.line-2 {
  height: 3px;
  background: #57babc;
  width:293px;
  margin: 0 auto;
}

.btn-red-small {
  margin: 0 auto;
  color: $white;
  font-size: 12px;
  font-family: $body-font;
  padding: 10px 20px;
  border-radius: 50px;
  background: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  gap: 0.3rem;

  i {
    font-size: 16px;
  }
}

.btn-blue {
  color: rgb(87, 186, 188);
  background-color: transparent;
  font-size: 16px;
  font-weight: lighter;
  font-family: Roboto, sans-serif;
  min-width: 8rem;
  max-width: fit-content;
  max-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 40px;
  margin: 1rem auto;
  outline: rgb(87, 186, 188) solid 2.5px;
}

.buddy-details {
}

.buddy-avatar {
  justify-content: center;
  padding-top: 2px;
  display: flex;

  img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  padding: 0;
  border: #57babc 2px solid;
}
span {
  color: #57babc;
  font-size: 16px;
}

h2 {
  margin: 0.5em 0 0.5em 0;
  padding: 24px 6px;
  color: #57babc;
  font-weight: lighter;
  font-size: 22px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  border-bottom: 6px solid #57babc;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 222px;
  padding-top: 10%;
  color: #006D77;
}
}


// .show-card-profile-detail {
//   display: grid;
//   grid-template-rows: 1fr;
//   background: #006d77;
// }

.show-card-preferred-sports {
  display: flex;
  justify-content: space-between;
  background-color: #006D77;
  color: white;
  margin: 14px 0;
  width: 100%;
  padding: 12px;

span {
  color: white;
  font-size: 18px;
}

.fa-solid {
  font-size: 25px;
}
}

.show-card-preferred-sport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

p {
  font-weight: 100;
  color: white;
}

}
