<div class="card-item">
  <div class="card-image">
    <div class="card-title">
      <h3><%= event.title %></h3>
    </div>
    <div class="card-buddy">
      <h4>with <%= event.event_creator %></h4>
    </div>
  </div>
  <div class="card-infos">
  <div class="card-address">
    <p> <%= event.address %> </p>
  </div>
  <div class="card-date">
    <p><%= event.start_date %></p>
  </div>
  </div>
</div>
