<div class="d-flex justify-content-around align-item-center px-0 py-3" id="footer-navbar">
  <i class="fa-solid fa-house"></i>
  <%# <%= link_to "Home", root_path, class: current_page?(root_path)%> 
  <i class="fa-solid fa-magnifying-glass"></i>
  <i class="fa-regular fa-comment"></i>
  <i class="fa-solid fa-gear"></i>
</div>
