<h2>What is your challenge today ?</h2>
<div class="row justify-content-center search-container">
  <form novalidate="novalidate" class="simple_form search" action="/events" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group">
    <%# <i class="fa-solid fa-magnifying-glass" style="color: #201e1e;"></i> %>
      <%= form_with url: events_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search by keyword..."
        %>
      <% end %>
    </div>
  </form>
</div>
<div class ="events-grid">
    <h2>Check our events</h2>
    <div class="cards">
        <% @events.each do | event | %>
          <%= link_to "#" do %>
            <%= render partial: "/shared/event_big_card", locals: { event: event } %>
          <% end %>
        <% end %>
    </div>
</div>
