<div class="component-box">
  <h1>This is a title h1</h1>
</div>
<div class="component-box">
  <h2>This is a title h2</h2>
</div>
<div class="component-box">
  <h3>This is a title h3</h3>
</div>
<div class="component-box">
  <h4>This is a title h4</h4>
</div>
<div class="component-box">
</div>
<div class="component-box">
</div>

<%= link_to "PARTICIPATE", events_path, class: "btn-red" %>

<%= link_to events_path do %>
<div>
<p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
</div>
<% end %>

<%= link_to events_path do %>
<div>
<p class="btn-back"><i class="fa-solid fa-chevron-left" style="color: #494949ff; font-size: 18px"></i>  Back to the list</p>
</div>
<% end %>
