<%= link_to home_path do %>
  <div class="home-video-wrapper">
    <div class="landing-overlay">
      <%= video_tag "runner-video.mp4", autoplay: :autoplay, loop: :loop, muted: true, class: "home_video" %>
      <div class="landing-titles">
        <p class="home">Be active!</p>
        <h3>Be an ACTIVE BUDDY!</h3>
      </div>F
      <div class="btn-red">Enter</div>
    </div>
  </div>
<% end %>
