<%= link_to home_path do %>
  <div class="home-video-wrapper">
    <div class="landing-overlay">
      <%= video_tag "runner-video.mp4", autoplay: :autoplay, loop: :loop, muted: true, class: "home_video" %>
      <div class="landing-content-grid">
        <div class="landing-elements">
          <p id="landing">Time to find your</p>
          <h3 id="landing">ACTIVE BUDDY</h3>
          <div class="my-3 btn-landing">Enter</div>
        </div>
      </div>
    </div>
  </div>
<% end %>
