.btn-red {
  color: $white;
  font-size: 23px;
  font-family: $headers-font;
  padding: 18px 24px;
  border-radius: 50px;
  background: $red;
  min-width: 9rem;
  max-width: fit-content;
  max-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
// TIPS FOR PRIMARY RED BUTTON You can include a primary red button like a "PARTICIPATE" button in HTML as following:
// <%= link_to "PARTICIPATE", event_path(@event) , class: "btn-red" %>

.btn-red-create {
  color: $white;
  font-size: 23px;
  font-family: $headers-font;
  padding: 4px 20px;
  border-radius: 50px;
  background: $red;
  min-width: 9rem;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
// USE BTN-RED-CREATE FOR SIMPLE_FORM

.btn-red-small {
  margin: 0 auto;
  color: $white;
  font-size: 12px;
  font-family: $body-font;
  padding: 10px 20px;
  border-radius: 50px;
  background: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  gap: 0.3rem;

  i {
    font-size: 16px;
  }
}
// TIPS FOR A SEE MORE BUTTON You can include a small red "see more >" button in HTML as following:
// <%= link_to event_path(@event) do %>
// <div>
// <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
// </div>
// TIPS
// <% end %>

.btn-back {
  color: $gray;
  font-family: $body-font;
  background-color: transparent;
  padding: 0px;
  font-weight: lighter;
  font-size: 18px;
  text-decoration: underline;
  opacity: 1;
}
// TIPS FOR BACK BUTTON You can include a back button in HTML as following:
// <%= link_to events_path do %>
// <div>
// <p class="btn-back"><i class="fa-solid fa-chevron-left" style="color: #494949ff; font-size: 18px"></i>  Back to the list</p>
// </div>
// <% end %>

.btn-blue {
  color: $light-blue;
  background-color: transparent;
  font-size: 16px;
  font-weight: lighter;
  font-family: $body-font;
  padding: 16px 16px;
  border-radius: 40px;
  min-width: 8rem;
  max-width: fit-content;
  max-height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  outline: 2.5px solid $light-blue;
}
// TIPS FOR BLUE BUTTON You can include a blue button in HTML as following:
// <%= link_to "Check buddy profile", events_path, class: "btn-blue" %>

.btn-blue-small {
  margin: 0 auto;
  color: $white;
  font-size: 12px;
  font-family: $body-font;
  padding: 10px 20px;
  border-radius: 50px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  gap: 0.3rem;

  i {
    font-size: 16px;
  }
}
// TIPS FOR A SEE MORE BUTTON You can include a small red "see more >" button in HTML as following:
// <%= link_to event_path(@event) do %>
// <div>
// <p class="btn-red-small">See more  <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></p>
// </div>
// TIPS
// <% end %>

.btn-delete {
  background-color: $white;
  border-radius: 50%;
  padding: 12px 12px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  vertical-align: middle;

  i {
    font-size: 18px;
    color: $gray;
  }
}
// TIPS FOR DELETE BUTTON
// <%= link_to events_path do %>
// <div class="btn-delete align-self-center"><i class="fa-regular fa-trash-can" style="color: #494949ff;"></i></div>
// <% end %>

.btn-edit {
  background-color: $white;
  border-radius: 50%;
  padding: 12px 12px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  vertical-align: middle;

  i {
    font-size: 18px;
    color: $gray;
  }
}
// TIPS FOR DELETE BUTTON
// <%= link_to events_path do %>
// <div class="btn-edit align-self-center"><i class="fa-regular fa-pen-to-square style="color: #494949ff;"></i></div>
// <% end %>

.btn-lock {
  background-color: $gray;
  border-radius: 50%;
  padding: 12px 12px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  vertical-align: middle;

  i {
    font-size: 18px;
    color: $white;
  }
}
// TIPS FOR DELETE BUTTON
// <%= link_to events_path do %>
//  <div class="btn-lock align-self-center"><i class="fa-solid fa-lock" style="color: #ffffff;"></i></div>
// <% end %>

#add-event-button {
  z-index: 100;
  position: fixed;
  bottom: 60px;
  right: 15px;
  font-size: 35px;
  color: #ffffff;
  border-radius: 50%;
  min-width: 0;
  max-width: none;
  padding: 35px 35px;
  width: 30px;
}
// TIPS FOR ADDING CREATE EVENT BUTTON
// <%= link_to new_event_path do %>
//   <div id="add-event-button" class="btn-red"><i class="fa-solid fa-plus"></i></div>
// <% end %>
#accept-button{
  background-color: #006D77;
}

#decline-button{
  background-color: #201E1E;
}
