.chatroom {
  background: $white-smoke;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  --bs-gutter-x: 0;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.chatroom-card {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px;
}

.event-image {
  img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.event-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;

    p {
      margin: 0;
      size: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 20ch;
    }
}

.chatroom-headers {
  h3 {
    margin: 0;
    color: $gray;
  }

  .datetime {
    box-sizing: unset;
    color: $gray;
    display: flex;
    justify-content: start;
  }
}

.last-message {
  display: flex;
  justify-content: space-between;

  .last-message-content {
    color: $gray;
  }
}
